In [479]:
# importing dependencies

import numpy as np
import pandas as pd
import importlib # to refresh the cleaning_helper file
import cleaning_helper
importlib.reload(cleaning_helper)
from cleaning_helper import extracting_color,is_clean_title,is_one_owner,is_personal_use_only,has_open_recall,gear_spec_extract

In [383]:
# importing data
pd.set_option("display.max_columns", None)
df = pd.read_parquet('C:/Users/aksha/OneDrive/Desktop/CARS-FINAL_YEAR_PROJECT/CLEANING/POST_CLEANING_2_DATA_PART_5.parquet',engine='fastparquet')

In [384]:
# data at a glance

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54217 entries, 0 to 54216
Data columns (total 84 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   model_year                    54217 non-null  object
 1   Brand_name                    54217 non-null  object
 2   model_name                    54217 non-null  object
 3   image_list                    53320 non-null  object
 4   new_used                      54217 non-null  object
 5   mileage                       53498 non-null  object
 6   price                         54217 non-null  object
 7   price_drop                    22257 non-null  object
 8   deal_type                     32589 non-null  object
 9   Exterior_color                54213 non-null  object
 10  Interior_color                54211 non-null  object
 11  Drivetrain                    53384 non-null  object
 12  MPG                           54217 non-null  float64
 13  Fuel_Type                     52424 non-null  object
 14  Transmission                  50905 non-null  object
 15  Accidents_or_damage           33502 non-null  object
 16  Clean_title                   8937 non-null   object
 17  one_owner_vehicle             33307 non-null  object
 18  Personal_use_only             33502 non-null  object
 19  Open_recall                   5530 non-null   object
 20  Fuel_Type_e                   791 non-null    object
 21  level2_charging               790 non-null    float64
 22  dc_fast_charging              670 non-null    object
 23  battery_capacity              343 non-null    float64
 24  excepted_range                880 non-null    float64
 25  seller_name                   53799 non-null  object
 26  seller_rating                 54217 non-null  float64
 27  people_count_seller_rating    54217 non-null  object
 28  seller_site                   52695 non-null  object
 29  car_rating                    43923 non-null  float64
 30  people_count_car_rating       43923 non-null  object
 31  gear_spec                     19463 non-null  object
 32  engine_size                   51465 non-null  object
 33  cylinder_config               50622 non-null  object
 34  valves                        16043 non-null  object
 35  adaptive_cruise_control       25869 non-null  object
 36  cooled_seats                  7140 non-null   object
 37  heated_seats                  30918 non-null  object
 38  heated_steering_wheels        19262 non-null  object
 39  keyless_entry                 47229 non-null  object
 40  keyless_start                 37261 non-null  object
 41  navigation_system             25743 non-null  object
 42  remote_start                  28720 non-null  object
 43  power_liftgate                15914 non-null  object
 44  automatic_parking             883 non-null    object
 45  power_folding_mirror          2836 non-null   object
 46  wheel_chair_accessible        11 non-null     object
 47  autopilot                     111 non-null    object
 48  android_auto                  25526 non-null  object
 49  apple_carplay                 36407 non-null  object
 50  bluetooth                     50158 non-null  object
 51  premium_sound_system          18105 non-null  object
 52  usb_port                      41781 non-null  object
 53  wifi_hotspot                  29965 non-null  object
 54  satellite_radio               22877 non-null  object
 55  cd_player                     7805 non-null   object
 56  homelink                      14311 non-null  object
 57  rear_seat_entertainment       929 non-null    object
 58  dvd_player                    1195 non-null   object
 59  alloy_wheels                  46642 non-null  object
 60  sunroof_moonroof              22405 non-null  object
 61  tow_hitch                     17469 non-null  object
 62  tow_hooks                     12129 non-null  object
 63  roof_rack                     6366 non-null   object
 64  automatic_emergency_braking   38422 non-null  object
 65  backup_camera                 48998 non-null  object
 66  blind_spot_monitor            28717 non-null  object
 67  brake_assist                  50451 non-null  object
 68  led_headlights                25740 non-null  object
 69  lane_departure_warning        34310 non-null  object
 70  rear_cross_traffic_alert      23902 non-null  object
 71  stability_control             51396 non-null  object
 72  rain_sensing_wipers           11666 non-null  object
 73  leather_seats                 22597 non-null  object
 74  memory_seat                   19396 non-null  object
 75  third_row_seating             8353 non-null   object
 76  mpge_city                     720 non-null    object
 77  mpge_hwy                      720 non-null    object
 78  battery_range_score_cleaned   157 non-null    object
 79  battery_range_score_category  157 non-null    object
 80  street_address                53791 non-null  object
 81  city                          53791 non-null  object
 82  state                         53791 non-null  object
 83  postal_code                   53791 non-null  object
dtypes: float64(6), object(78)
memory usage: 34.7+ MB

##### This file is used for final level of cleaning and convert relevent column to required data type

#### 1. model_year

In [385]:
(
    df
    .model_year
    .unique()
)
# no further cleaning req.

array(['2021', '2023', '2026', '2016', '2019', '2022', '2025', '2024',
       '2008', '2014', '2017', '2020', '2018', '2001', '2015', '2007',
       '2012', '2013', '2005', '2011', '2006', '1998', '2010', '1976',
       '2002', '1995', '1996', '1991', '1963', '1969', '1997', '2009',
       '1999', '1962', '1986', '2000', '1993', '1968', '2004', '1994',
       '1974', '2003', '1966', '1973', '1987', '1988', '1970', '1975',
       '1978', '1977', '1985', '1989', '1967', '1983', '1990', '1979',
       '1965', '1992', '1971', '1964', '1957', '1982', '1980', '1972',
       '1984', '1958'], dtype=object)

#### 2. Brand_name

In [386]:
(
    df
    .Brand_name
    .unique()
)
# no further cleaning req.

array(['Chevrolet', 'Mazda', 'Honda', 'Nissan', 'Jeep', 'Toyota', 'Ford',
       'BMW', 'Subaru', 'Lexus', 'GMC', 'Chrysler', 'Dodge', 'Audi',
       'Porsche', 'Kia', 'Mercedes-Benz', 'Acura', 'Tesla', 'Scion',
       'RAM', 'Volvo', 'MINI', 'Volkswagen'], dtype=object)

#### 3. model_name

In [387]:
(
    df
    .model_name
).sample(100).values
# this may be splitted to model-name and specs ex - RAV4 Hybrid XLE can be splitted to RAV4 AND hybrid XLE, but it require
# a complex dict that have all type of model info, because nither the simple split nor the regex pattern can work here
# so I am leaving this column as it is without induling much into it, if I get something that can solve this problem I will look into it again.

array(['Charger SXT', 'Silverado 2500 WT', 'F-250 Lariat', 'CX-5 2.5 S',
       'RAV4 Hybrid LE', 'X5', 'Civic LX', 'Bronco Badlands',
       'Bronco Outer Banks', 'Wrangler Unlimited Rubicon', 'Camry XSE',
       'MDX A-SPEC', 'Rogue SV', 'Accord Sport SE 1.5T', 'F-350 XL',
       'Edge SEL', 'Corolla LE', 'Mustang GT Premium',
       'Wrangler Unlimited Rubicon', 'Camaro SS', 'Rogue SV',
       'Wrangler Willys', 'Transit Connect XLT', 'Tundra Limited',
       'Tacoma SR5', 'Soul LX', 'CR-V Touring', 'Fit LX',
       'Sierra 1500 Denali', 'Q5 45 Premium', 'CR-V Hybrid Sport-L',
       'Transit-250 Base', 'Pilot Elite', 'ProMaster 2500 Base',
       'Q5 Premium Plus', 'Odyssey Sport-L', 'Accord Hybrid EX-L',
       '4Runner TRD Off Road Premium', 'Forester Touring', 'Explorer XLT',
       'Malibu FWD LT', 'Odyssey EX-L', 'Edge SEL', 'F-250 Platinum',
       'Boxster 2dr Roadster 5-Spd Manual', 'Accord EX-L',
       'Highlander Hybrid Platinum', 'Rogue S', 'Silverado 2500 LT',
       'Maverick XLT', 'Edge Sport', 'Grand Cherokee Laredo',
       'Wrangler Unlimited Sahara', 'Pilot TrailSport',
       'Gladiator Mojave', 'Challenger SRT Hellcat', 'F-350 XL',
       'F-150 Lariat', 'Forester Wilderness', 'Malibu LT', 'Pacifica L',
       'Pilot EX-L', 'F-150 PLATINUM', 'Corolla LE', 'Sierra 2500 SLT',
       'F-150 XLT', 'Highlander XLE', 'Tundra Limited', 'Sierra 2500 AT4',
       'Mustang GT Premium', 'Bronco Big Bend', 'Q5 Premium Plus',
       'Forester Touring', 'Focus SE', 'Sierra 1500 Denali Ultimate',
       'Edge SE', 'Model 3 Performance', '911', 'CR-V Hybrid Sport-L',
       'Silverado 2500 LTZ', 'Express 2500 RWD 2500 Regular Wheelbase WT',
       'ProMaster 2500 High Roof', 'Camry LE', 'Rogue SV',
       'Sierra 1500 Pro', 'X5 xDrive40i', 'Altima 2.5 SV',
       'Bronco Outer Banks', 'Malibu 1LS', 'Prius LE',
       'Grand Cherokee Laredo', 'F-150 XLT', 'Prius Standard',
       'Sierra 1500 SLT', 'Prius XLE', 'CX-5 2.5 S Preferred',
       'Silverado 1500 High Country', 'Transit-250 Base', 'X5 M60i',
       '4Runner TRD Off Road Premium'], dtype=object)

#### 4. new_used

In [388]:
(
    df
    .new_used
    .unique()
)
# no further cleaning req

array(['Used', 'New', 'Certified'], dtype=object)

#### 5. mileage

In [389]:
(
    df
    .mileage
    .str.strip()
    .str.replace(',','')
)
# just need to remove the comma's, other than that no further cleaning is req.

0        49943
1        16621
2        30277
3            7
4        80905
         ...
54212    12255
54213    18949
54214     6406
54215       17
54216        3
Name: mileage, Length: 54217, dtype: object

#### 6. price

In [390]:
df[~(
    df
    .price
    .str.isnumeric()
)]['price'].unique()
# few columns contains the price as - 'Not Priced' that should be converted to np.nan, other than that no action is req.

array(['Not Priced'], dtype=object)

#### 7. price_drop

In [391]:
(
    df
    .price_drop
    .dropna()
) # no further cleaning is req.

0        1000
1         354
2         500
5         975
6        1110
         ...
54207     268
54210    2000
54211     763
54212     459
54214     500
Name: price_drop, Length: 22257, dtype: object

#### 8. deal_type

In [392]:
(
    df
    .deal_type
    .dropna()
    .unique()
) # looks fine. no further cleaning is req.

array(['Good', 'Fair', 'Great'], dtype=object)

#### 9. Exterior_color

In [475]:
(
    df
    .Exterior_color
).value_counts()
# here we can convert fency color terms to simple category ex - carbonized gray metallic to gray , that will reduce unnecessary complexity.

df[df['Exterior_color'].str.lower().apply(extracting_color).isna()]
# after this transformation, no further cleaning is req.

,model_year,Brand_name,model_name,image_list,new_used,mileage,price,price_drop,deal_type,Exterior_color,Interior_color,Drivetrain,MPG,Fuel_Type,Transmission,Accidents_or_damage,Clean_title,one_owner_vehicle,Personal_use_only,Open_recall,Fuel_Type_e,level2_charging,dc_fast_charging,battery_capacity,excepted_range,seller_name,seller_rating,people_count_seller_rating,seller_site,car_rating,people_count_car_rating,gear_spec,engine_size,cylinder_config,valves,adaptive_cruise_control,cooled_seats,heated_seats,heated_steering_wheels,keyless_entry,keyless_start,navigation_system,remote_start,power_liftgate,automatic_parking,power_folding_mirror,wheel_chair_accessible,autopilot,android_auto,apple_carplay,bluetooth,premium_sound_system,usb_port,wifi_hotspot,satellite_radio,cd_player,homelink,rear_seat_entertainment,dvd_player,alloy_wheels,sunroof_moonroof,tow_hitch,tow_hooks,roof_rack,automatic_emergency_braking,backup_camera,blind_spot_monitor,brake_assist,led_headlights,lane_departure_warning,rear_cross_traffic_alert,stability_control,rain_sensing_wipers,leather_seats,memory_seat,third_row_seating,mpge_city,mpge_hwy,battery_range_score_cleaned,battery_range_score_category,street_address,city,state,postal_code
64,2014,Mercedes-Benz,E-Class E 350,['https://platform.cstatic-images.com/xlarge/i...,Used,"73,254",15997,None,Fair,–,–,RWD,25.5,Gasoline,Automatic,None reported,None,No,Yes,None,None,NaN,None,NaN,NaN,ALM Hyundai of Florence,4.5,285,https://www.almhyundai.com/?utm_source=cars.co...,4.8,181,7-speed,3.5L,V6,24,None,None,None,None,yes,None,None,None,None,None,None,None,None,None,None,yes,yes,None,None,None,yes,yes,None,yes,yes,yes,None,None,None,None,None,None,yes,None,None,None,yes,yes,yes,yes,None,None,None,None,None,2542 West Palmetto Street,Florence,SC,29501
105,2025,Jeep,Gladiator Sport S,['https://platform.cstatic-images.com/xlarge/i...,New,10,40879,2250,None,41,Black,4WD,19.5,Gasoline,Automatic,None,None,None,None,None,None,NaN,None,NaN,NaN,Salt Lake Valley Chrysler Dodge Jeep Ram,2.8,735,https://www.saltlakevalleychryslerdodgeramjeep...,NaN,None,8-speed,3.6L,V-6,None,yes,None,yes,yes,yes,yes,None,yes,None,None,None,None,None,yes,yes,yes,None,yes,yes,None,None,yes,None,None,yes,None,yes,yes,None,yes,yes,None,yes,None,None,None,yes,None,None,None,None,None,None,None,None,2309 S State St,South Salt Lake,UT,84115
143,2018,Honda,Civic EX,['https://platform.cstatic-images.com/xlarge/i...,Used,"81,056",20977,1000,Fair,–,–,FWD,35.5,Gasoline,Automatic,At least 1 accident or damage reported,None,No,Yes,At least 1 open recall reported,None,NaN,None,NaN,NaN,Sullivan Motor Company Inc.,3.3,316,https://www.smcauto.com/?utm_source=cars.com&u...,4.8,553,None,1.5L,I4,16,None,None,None,None,yes,yes,None,yes,None,None,None,None,None,None,yes,yes,None,yes,None,yes,None,None,None,None,yes,yes,None,None,None,None,yes,None,yes,None,None,None,yes,None,None,None,None,None,None,None,None,1515 W. Broadway Rd,Mesa,AZ,85202
169,2020,Toyota,RAV4 Hybrid XLE,['https://platform.cstatic-images.com/xlarge/i...,Used,"58,485",22990,500,Good,SELECT,–,AWD,39.5,Hybrid,Automatic,At least 1 accident or damage reported,None,No,No,At least 1 open recall reported,None,NaN,None,NaN,NaN,JTs Chrysler Jeep Dodge Ram Fiat,4.0,839,https://www.jtschryslerdodgejeepram.com/?utm_s...,4.7,97,None,2.5L,I4,16,yes,None,None,None,None,yes,None,None,None,None,None,None,None,None,yes,yes,None,yes,yes,yes,None,None,None,None,yes,None,None,None,None,None,yes,yes,yes,yes,yes,yes,yes,None,None,None,None,None,None,None,None,4838 Sunset Blvd,Lexington,SC,29072
204,2025,Toyota,Tacoma SR5,['https://platform.cstatic-images.com/xlarge/i...,New,15,44486,None,None,03u5,Boulder,4WD,21.5,Gasoline,Automatic,None,None,None,None,None,None,NaN,None,NaN,NaN,Right Toyota,4.2,2634,https://www.righttoyota.com?utm_source=cars.co...,4.7,3,None,2.4L,I-4,None,yes,None,yes,yes,yes,yes,None,None,None,None,None,None,None,yes,yes,yes,yes,yes,yes,None,None,yes,None,None,yes,None,yes,yes,None,yes,yes,yes,yes,yes,yes,yes,yes,None,None,None,None,None,None,None,None,7701 E. Frank Lloyd Wright Blvd.,Scottsdale,AZ,85260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54045,2025,Toyota,Sienna XLE,None,New,0,51100,105,None,–,–,AWD,35.0,Hybrid,Automatic,None,None,None,None,None,None,NaN,None,NaN,NaN,Team Toyota of Glen Mills,4.5,1308,https://www.teamtoyotaglenmills.com/?utm_sourc...,5.0,1,None,2.5 L,I-4,None,yes,None,yes,None,yes,yes,None,None,yes,None,None,None,None,None,None,yes,None,None,yes,yes,None,yes,None,None,yes,yes,None,None,None,None,yes,yes,yes,yes,yes,None,yes,None,None,None,yes,None,None,None,None,1050 Baltimore Pike,Glen Mills,PA,19342
54085,2024,Ford,F-150 XLT,['https://platform.cstatic-images.com/xlarge/i...,New,0,57488,None,None,–,–,4WD,19.5,Hybrid,Automatic,None,None,None,None,None,None,NaN,None,NaN,NaN,Ramey Ford of Princeton,5.0,185,http://rameyfordprinceton.com?utm_source=cars....,4.2,11,None,None,None,None,None,None,None,None,yes,None,yes,yes,None,None,None,None,None,yes,yes,yes,None,yes,yes,yes,None,None,None,None,yes,None,yes,yes,None,yes,yes,yes,yes,yes,yes,yes,yes,None,None,None,None,None,None,None,None,498 Courthouse Rd,Princeton,WV,24740
54131,2025,Toyota,Camry XLE,['https://platform.cstatic-images.com/xlarge/i...,New,13,37640,None,None,08q4,Black,FWD,47.5,Gasoline,Automatic,None,None,None,None,None,None,NaN,None,NaN,NaN,Poe Toyota,4.8,96,https://www.poetoyota.com/?utm_source=cars.com...,5.0,6,None,2.5L,I-4,None,yes,None,yes,yes,yes,yes,None,yes,None,None,None,None,None,yes,yes,yes,None,yes,yes,None,None,yes,None,None,yes,None,None,None,None,yes,yes,yes,yes,yes,yes,yes,yes,None,yes,None,None,None,None,None,None,6330 Montana Avenue,El Paso,TX,79925
54173,2025,Toyota,Tundra Limited,['https://platform.cstatic-images.com/xlarge/i...,New,10,68167,None,None,0040,Boulder,4WD,19.5,Gasoline,Automatic,None,None,None,None,None,None,NaN,None,NaN,NaN,Stewart Toyota,2.8,29,http://www.stewarttoyota.com?utm_source=cars.c...,4.3,3,10-speed,3.4L,V6,24,yes,None,yes,None,yes,None,yes,None,None,None,None,None,None,None,yes,yes,yes,None,None,yes,None,yes,None,None,yes,yes,yes,None,None,None,yes,None,yes,None,yes,yes,yes,None,yes,yes,None,None,None,None,None,3400 S Interstate 45,Corsicana,TX,75110
54178,2022,GMC,Sierra 1500 SLT,['https://platform.cstatic-images.com/xlarge/i...,Used,"44,142",39485,410,Great,–,–,4WD,17.0,Gasoline,Automatic,None reported,None,Yes,Yes,None,None,NaN,None,NaN,NaN,Riverside Chevrolet,5.0,85,https://www.riverchevy.com/?utm_source=cars.co...,3.7,3,None,5.3L,V-8,None,None,None,yes,yes,yes,yes,yes,yes,None,None,None,None,None,yes,yes,yes,None,yes,yes,None,None,None,None,None,yes,yes,yes,yes,None,yes,yes,None,yes,yes,None,None,yes,None,yes,yes,None,None,None,None,None,200 S Plaza Park,Chillicothe,IL,61523

#### 10. Interior_color

In [480]:
(
    df
    .Interior_color
)

# applying extracting_color function (same as Exterior_color col)
df[(
    df['Interior_color']
    .str.lower()
    .apply(extracting_color)
    .isna()
)]
# after this transformation no more cleaning is req.

,model_year,Brand_name,model_name,image_list,new_used,mileage,price,price_drop,deal_type,Exterior_color,Interior_color,Drivetrain,MPG,Fuel_Type,Transmission,Accidents_or_damage,Clean_title,one_owner_vehicle,Personal_use_only,Open_recall,Fuel_Type_e,level2_charging,dc_fast_charging,battery_capacity,excepted_range,seller_name,seller_rating,people_count_seller_rating,seller_site,car_rating,people_count_car_rating,gear_spec,engine_size,cylinder_config,valves,adaptive_cruise_control,cooled_seats,heated_seats,heated_steering_wheels,keyless_entry,keyless_start,navigation_system,remote_start,power_liftgate,automatic_parking,power_folding_mirror,wheel_chair_accessible,autopilot,android_auto,apple_carplay,bluetooth,premium_sound_system,usb_port,wifi_hotspot,satellite_radio,cd_player,homelink,rear_seat_entertainment,dvd_player,alloy_wheels,sunroof_moonroof,tow_hitch,tow_hooks,roof_rack,automatic_emergency_braking,backup_camera,blind_spot_monitor,brake_assist,led_headlights,lane_departure_warning,rear_cross_traffic_alert,stability_control,rain_sensing_wipers,leather_seats,memory_seat,third_row_seating,mpge_city,mpge_hwy,battery_range_score_cleaned,battery_range_score_category,street_address,city,state,postal_code
20,2026,Ford,F-250 XL,['https://platform.cstatic-images.com/xlarge/i...,New,2,74562,None,None,Black,–,4WD,0.0,Gasoline,Automatic,None,None,None,None,None,None,NaN,None,NaN,NaN,Larry H. Miller Ford Mesa,4.6,2248,https://www.lhmfordmesa.com/?utm_source=cars.c...,NaN,None,None,6.7L,None,None,None,None,None,None,yes,None,None,None,None,None,None,None,None,None,None,yes,None,None,yes,None,None,None,None,None,None,None,yes,yes,None,None,yes,None,yes,None,None,None,yes,None,None,None,None,None,None,None,None,460 E Auto Center Dr,Mesa,AZ,85210
27,2022,Toyota,Tundra Limited,['https://platform.cstatic-images.com/xlarge/i...,Used,"33,656",42900,None,Good,Wind Chill Pearl,–,4WD,19.5,Gasoline,Automatic,None reported,Yes,No,Yes,At least 1 open recall reported,None,NaN,None,NaN,NaN,Stevens Creek Toyota,3.6,434,http://www.stevenscreektoyota.com?utm_source=c...,3.5,14,None,3.4L,V-6,None,yes,yes,yes,None,yes,yes,yes,yes,None,None,yes,None,None,yes,yes,yes,None,yes,yes,yes,None,yes,None,None,yes,None,yes,None,None,yes,yes,yes,yes,yes,yes,yes,yes,None,None,yes,None,None,None,None,None,4202 Stevens Creek Blvd,San Jose,CA,95129
64,2014,Mercedes-Benz,E-Class E 350,['https://platform.cstatic-images.com/xlarge/i...,Used,"73,254",15997,None,Fair,–,–,RWD,25.5,Gasoline,Automatic,None reported,None,No,Yes,None,None,NaN,None,NaN,NaN,ALM Hyundai of Florence,4.5,285,https://www.almhyundai.com/?utm_source=cars.co...,4.8,181,7-speed,3.5L,V6,24,None,None,None,None,yes,None,None,None,None,None,None,None,None,None,None,yes,yes,None,None,None,yes,yes,None,yes,yes,yes,None,None,None,None,None,None,yes,None,None,None,yes,yes,yes,yes,None,None,None,None,None,2542 West Palmetto Street,Florence,SC,29501
92,2017,Toyota,RAV4 Hybrid SE,['https://platform.cstatic-images.com/xlarge/i...,Used,"120,504",15950,None,Good,Blue,–,AWD,32.0,Hybrid,Automatic,At least 1 accident or damage reported,None,Yes,No,None,None,NaN,None,NaN,NaN,Prime Motors LLC,2.9,150,https://www.primemotorsva.com/?utm_source=cars...,4.8,118,None,2.5L,I4,16,yes,None,None,None,None,yes,None,None,yes,None,None,None,None,None,None,yes,None,yes,None,yes,yes,None,None,None,yes,yes,None,None,yes,None,yes,None,yes,None,yes,yes,yes,None,yes,None,None,None,None,None,None,4715 King St,Arlington,VA,22206
115,2025,Ford,F-150 Lariat,['https://platform.cstatic-images.com/xlarge/i...,New,4,70184,None,None,Carbonized Gray Metallic,–,4WD,19.5,Hybrid,Automatic,None,None,None,None,None,None,NaN,None,NaN,NaN,Tommie Vaughn Ford,4.2,990,http://www.tommievaughnford.com/?utm_source=ca...,NaN,None,10-speed,3.5L,V6,24,yes,None,yes,yes,yes,None,yes,yes,None,None,None,None,None,None,None,yes,yes,None,None,yes,None,None,None,None,yes,None,yes,None,None,None,yes,None,yes,None,yes,None,yes,yes,yes,yes,None,None,None,None,None,1201 N Shepherd Dr,Houston,TX,77008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54045,2025,Toyota,Sienna XLE,None,New,0,51100,105,None,–,–,AWD,35.0,Hybrid,Automatic,None,None,None,None,None,None,NaN,None,NaN,NaN,Team Toyota of Glen Mills,4.5,1308,https://www.teamtoyotaglenmills.com/?utm_sourc...,5.0,1,None,2.5 L,I-4,None,yes,None,yes,None,yes,yes,None,None,yes,None,None,None,None,None,None,yes,None,None,yes,yes,None,yes,None,None,yes,yes,None,None,None,None,yes,yes,yes,yes,yes,None,yes,None,None,None,yes,None,None,None,None,1050 Baltimore Pike,Glen Mills,PA,19342
54084,2015,Dodge,Challenger SXT Plus,None,Used,"115,184",15950,1000,Fair,White,–,RWD,24.5,Gasoline,Automatic,At least 1 accident or damage reported,None,No,Yes,None,None,NaN,None,NaN,NaN,Bexley Motorcar Co.,4.4,90,http://www.bexleymotorcar.com/?utm_source=cars...,4.8,156,8-speed,3.6L,V6,24,None,yes,yes,yes,None,yes,None,None,None,None,None,None,None,None,None,yes,None,None,None,yes,None,None,None,None,yes,None,None,None,None,None,yes,None,yes,None,None,None,yes,None,yes,None,None,None,None,None,None,2253 E Livingston Ave,Columbus,OH,43209
54085,2024,Ford,F-150 XLT,['https://platform.cstatic-images.com/xlarge/i...,New,0,57488,None,None,–,–,4WD,19.5,Hybrid,Automatic,None,None,None,None,None,None,NaN,None,NaN,NaN,Ramey Ford of Princeton,5.0,185,http://rameyfordprinceton.com?utm_source=cars....,4.2,11,None,None,None,None,None,None,None,None,yes,None,yes,yes,None,None,None,None,None,yes,yes,yes,None,yes,yes,yes,None,None,None,None,yes,None,yes,yes,None,yes,yes,yes,yes,yes,yes,yes,yes,None,None,None,None,None,None,None,None,498 Courthouse Rd,Princeton,WV,24740
54093,2019,Ford,F-150 King Ranch,['https://platform.cstatic-images.com/xlarge/i...,Used,"93,755",37493,1500,Fair,Agate Black/Stone Gray,Mesa,4WD,20.0,Gasoline,None,At least 1 accident or damage reported,None,No,Yes,At least 1 open recall reported,None,NaN,None,NaN,NaN,Lake Hartwell Ford,4.8,10,https://www.lakehartwellford.com?utm_source=ca...,4.7,437,10-speed,3.5L,V-6,None,None,yes,yes,yes,yes,yes,yes,yes,None,yes,None,None,None,yes,yes,yes,yes,yes,yes,yes,None,yes,None,None,yes,yes,yes,yes,None,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,None,None,None,None,None,1435 East Main Street,Royston,GA,30662
54178,2022,GMC,Sierra 1500 SLT,['https://platform.cstatic-images.com/xlarge/i...,Used,"44,142",39485,410,Great,–,–,4WD,17.0,Gasoline,Automatic,None reported,None,Yes,Yes,None,None,NaN,None,NaN,NaN,Riverside Chevrolet,5.0,85,https://www.riverchevy.com/?utm_source=cars.co...,3.7,3,None,5.3L,V-8,None,None,None,yes,yes,yes,yes,yes,yes,None,None,None,None,None,yes,yes,yes,None,yes,yes,None,None,None,None,None,yes,yes,yes,yes,None,yes,yes,None,yes,yes,None,None,yes,None,yes,yes,None,None,None,None,None,200 S Plaza Park,Chillicothe,IL,61523

#### 11. Drivetrain

In [481]:
(
    df
    .Drivetrain
)
# no action req.

0        4WD
1        AWD
2        4WD
3        AWD
4        FWD
        ...
54212    4WD
54213    AWD
54214    AWD
54215    AWD
54216    4WD
Name: Drivetrain, Length: 54217, dtype: object

#### 12. MPG

In [482]:
(
    df
    .MPG
    .value_counts()
)
# no action req.

MPG
0.000         11609
23.500         2738
19.500         2730
21.000         1775
24.500         1775
              ...
44.500            1
14.075            1
217024.000        1
66.000            1
96.500            1
Name: count, Length: 110, dtype: int64

#### 13. Fuel_Type

In [483]:
(
    df
    .Fuel_Type
).unique()

# no action req.

array(['Diesel', 'Gasoline', None, 'Hybrid', 'Other', 'Flex Fuel',
       'Plug-in Hybrid', 'CNG/LPG'], dtype=object)

#### 14. Transmission

In [484]:
(
    df
    .Transmission
).unique()

# no action req.

array(['Automatic', None, 'Manual'], dtype=object)

#### 15. Accidents_or_damage

In [485]:
# here both "None" and "None reported" means that car does not have any accidents or damage,
# hence we will change those value to False and "at least 1 accident to True"
(
    df
    .Accidents_or_damage
    .unique()
)

array(['None reported', None, 'At least 1 accident or damage reported'],
      dtype=object)

#### 16. Clean_title

In [486]:
# A car with a clean title means:

# It has not been severely damaged in an accident.
# It has not been salvaged, rebuilt, or flooded.
# The ownership and registration history is normal.

df[(
    df
    .Clean_title
    .isna()
)]['new_used'].value_counts() 

df[['Clean_title','new_used']].apply(is_clean_title,axis=1)

0         NaN
1         NaN
2         NaN
3        True
4         NaN
         ...
54212     NaN
54213     NaN
54214    True
54215    True
54216    True
Length: 54217, dtype: object

#### 17. one_owner_vehicle

In [487]:
(
    df
    .one_owner_vehicle
).value_counts()

one_owner_vehicle
Yes    18663
No     14644
Name: count, dtype: int64

In [488]:
print(df['one_owner_vehicle'].unique())
df[['new_used','one_owner_vehicle']].apply(is_one_owner,axis=1)
# after this, no more cleaning action is req.

['Yes' 'No' None]

0                  one
1                  one
2                 more
3        not_owned_yet
4                 more
             ...
54212              one
54213              one
54214             more
54215              NaN
54216    not_owned_yet
Length: 54217, dtype: object

#### 18. Personal_use_only

In [489]:
print(df['Personal_use_only'].unique())
df[['Personal_use_only','new_used']].apply(is_personal_use_only,axis=1)

['Yes' 'No' None]

0                   yes
1                   yes
2                    no
3        not_in_use_yet
4                    no
              ...
54212               yes
54213               yes
54214                no
54215               yes
54216    not_in_use_yet
Length: 54217, dtype: object

#### 19. Open_recall

In [490]:
df['Open_recall'].unique()

array([None, 'At least 1 open recall reported'], dtype=object)

In [491]:
df[['Open_recall','new_used']].apply(has_open_recall,axis=1)

0                   NaN
1                   NaN
2                   NaN
3        not_in_use_yet
4                   NaN
              ...
54212               NaN
54213               NaN
54214               NaN
54215               NaN
54216    not_in_use_yet
Length: 54217, dtype: object

#### 20. Fuel_Type_e

In [492]:
# Fuel_Type_e contains value only when it is a electric car, and if Fuel_Type_e have value,then Fuel_Type col does not have, and visa versa 
# hence we will combine both the col, to get all value at a place.
# at last we drop the fuel_type_e col

df[(df['Fuel_Type'].notna()) & (df['Fuel_Type_e'].notna())]

df['Fuel_Type'].fillna(df['Fuel_Type_e'])

0          Diesel
1        Gasoline
2        Gasoline
3        Gasoline
4        Gasoline
           ...
54212    Gasoline
54213    Gasoline
54214    Gasoline
54215    Gasoline
54216      Diesel
Name: Fuel_Type, Length: 54217, dtype: object

#### 21. seller_name

In [493]:
(
    df
    .seller_name
    .str.lower()
    .str.strip()
) # no action req., other than converting to lower_case

0                           lexus of arlington
1                        dch ford of eatontown
2                 automax preowned marlborough
3        norm reeves honda superstore cerritos
4                          peterson auto sales
                         ...
54212                        honda of muskogee
54213                covert buick gmc bee cave
54214                            bmw of darien
54215                           bmw of fremont
54216           corwin buick gmc cadillac reno
Name: seller_name, Length: 54217, dtype: object

22. seller_rating

In [494]:
(
    df
    .seller_rating
).unique()
# no action req.

array([4.9, 4.8, 5. , 0. , 4.6, 4.5, 4.7, 2.2, 3.2, 3.6, 4.1, 3. , 4.3,
       2.4, 4.2, 4.4, 2.9, 4. , 3.7, 3.1, 2.8, 3.3, 2.6, 2.7, 1.7, 3.9,
       1.6, 1.9, 3.8, 3.5, 2.1, 1.5, 2. , 1.4, 2.5, 3.4, 1.8, 1.1, 1.3,
       1.2, 1. , 2.3])

#### 23.  people_count_seller_rating

In [495]:
# replacing blank with np.nan
(
    df
    .people_count_seller_rating
    .apply(lambda x : x if x.isnumeric() else np.nan)
)

# no other action req.

0         426
1         661
2         194
3         669
4          22
         ...
54212      21
54213      12
54214      50
54215    1873
54216     305
Name: people_count_seller_rating, Length: 54217, dtype: object

#### 24. car_rating

In [496]:
(
    df
    .car_rating
    .unique()
)

# no action req.

array([4.1, 4.3, 3.8, 3.7, 5. , 4.8, 4.7, 2. , 4.6, 3.9, nan, 4.9, 3.5,
       4.5, 3.6, 4. , 4.4, 4.2, 3.3, 3. , 1. , 2.6, 3.2, 2.5, 2.7, 3.4,
       2.8, 2.1])

#### 25. people_count_car_rating

In [497]:
(
    df
    .people_count_car_rating
    .unique()
)
# no more cleaning action req.

array(['47', '13', '8', '3', '5', '228', '92', '12', '2', '1', '18', '90',
       '7', '156', '19', '6', '379', None, '299', '9', '14', '130', '184',
       '26', '421', '59', '88', '46', '432', '343', '176', '748', '181',
       '10', '4', '60', '443', '56', '20', '24', '204', '81', '118', '53',
       '16', '300', '661', '162', '27', '251', '304', '106', '23', '83',
       '31', '553', '37', '11', '71', '172', '138', '812', '62', '97',
       '21', '36', '51', '111', '86', '108', '68', '838', '105', '22',
       '112', '146', '85', '153', '202', '80', '269', '145', '243', '477',
       '258', '579', '150', '293', '73', '25', '160', '173', '34', '58',
       '290', '131', '87', '114', '438', '57', '115', '15', '98', '17',
       '44', '120', '142', '578', '125', '155', '710', '76', '325', '134',
       '69', '41', '50', '463', '230', '32', '277', '38', '45', '124',
       '187', '77', '63', '149', '313', '186', '209', '513', '239', '263',
       '133', '40', '259', '234', '340', '787', '256', '61', '244', '154',
       '116', '229', '54', '275', '33', '103', '78', '322', '74', '79',
       '55', '551', '226', '109', '121', '197', '65', '268', '147', '70',
       '161', '29', '28', '144', '270', '72', '390', '286', '192', '100',
       '784', '362', '354', '265', '49', '217', '373', '211', '159',
       '314', '96', '208', '224', '194', '94', '280', '117', '141', '289',
       '75', '439', '334', '249', '67', '95', '245', '316', '253', '132',
       '148', '406', '207', '35', '66', '152', '317', '342', '328', '271',
       '113', '48', '140', '371', '178', '298', '91', '283', '437', '167',
       '52', '221', '135', '394', '195', '101', '99', '122', '383', '129',
       '291', '660', '30', '403', '84', '303', '107', '422', '233', '42',
       '777', '196', '213', '214', '261', '139', '210', '232', '180',
       '43', '126', '474', '190', '199', '212', '402', '39', '216', '89',
       '783', '64', '279', '480', '175', '413', '319', '165', '392',
       '200', '560', '308', '237', '457', '358', '110', '82', '163',
       '102', '302', '185', '191', '255', '375', '179', '193', '323',
       '231', '377', '158', '250', '215', '143', '157', '295', '333',
       '104', '365', '93', '137', '171', '123', '136', '273', '183',
       '288', '597', '127', '227', '182', '219', '164', '363', '151'],
      dtype=object)

#### 26. gear_spec

In [498]:
# extracting number

# (
#     df
#     .gear_spec
#     .str.lower()
#     .str.extract(r'(\d+)')
# )
# # other than this, no action req.

print(df['gear_spec'].unique())

df['gear_spec'].str.lower().apply(gear_spec_extract).str.extract(r'(\d+)').loc[:,0].unique()

['10-speed' '6-speed' None '8-speed' '9-speed' '7-speed' '6 speed'
 '5-speed' '5-spd' 'single-speed' '1-speed' 'ten-speed' 'single speed'
 '4-speed' '9-spd' '6-spd' '10a' '5 speed' '8-spd' '10 speed' '7 speed'
 '9 speed' '8 speed' '10-spd' '3 speed' '6at' '7-spd' '4-spd' '8a' '1-spd'
 '2-speed' '4 speed' '1 spd' '8 spd' '3-speed' '7 spd' '9a' '7spd' '6 spd'
 'one speed' '6a' 'eight speed' '6spd' '1 speed' '9at']

array(['10', '6', nan, '8', '9', '7', '5', '1', '4', '3', '2'],
      dtype=object)

#### 27. engine_size

In [499]:
(
    df
    .engine_size
    .str.lower()
    .str.replace('l','')
    .str.replace('-','')
    .str.strip()
)

# no action req, other than just removing l and '-'

0          3
1        2.5
2        2.7
3        1.5
4          2
        ...
54212    2.4
54213    3.6
54214      3
54215      2
54216    6.6
Name: engine_size, Length: 54217, dtype: object

#### 28.cylinder_config

In [500]:
(
    df
    .cylinder_config
    .str.strip()
    .str.replace('-','')
    .str.replace(' ','')
).unique()
# no other action req. other than replacing space and hypens

array(['I6', 'I4', 'V6', None, 'H4', 'V8', 'I3', 'I24', 'H6', 'V2', 'I16',
       'I5', 'V4', 'H1', 'V12', 'V10', 'V21', 'I32'], dtype=object)

#### 29. valves

In [501]:
(
    df
    .valves
).unique()
# no action req.

array([None, '16', '24', '32', '12', '2', '20', '4', '30'], dtype=object)

#### 30. adaptive_cruise_control

In [502]:
(
    df
    .adaptive_cruise_control
).unique()
# seems good.

array([None, 'yes'], dtype=object)

#### 31. cooled_seats

In [503]:
(
    df
    .cooled_seats
    .value_counts()
)
# no cleaning action req.

cooled_seats
yes    7140
Name: count, dtype: int64

#### 32. heated_seats

In [504]:
(
    df
    .heated_seats
    .value_counts()
)
# no cleaning action req.

heated_seats
yes    30918
Name: count, dtype: int64

#### 33. heated_steering_wheels

In [505]:
(
    df
    .heated_steering_wheels
    .value_counts()
)
# no action req.

heated_steering_wheels
yes    19262
Name: count, dtype: int64

#### 34. keyless_entry

In [506]:
(
    df
    .keyless_entry
    .value_counts()
)

# no action req.

keyless_entry
yes    47229
Name: count, dtype: int64

#### 35. keyless_start

In [507]:
(
    df
    .keyless_start
    .value_counts()
)
# no cleaning action req.

keyless_start
yes    37261
Name: count, dtype: int64

#### 36. navigation_system

In [508]:
print(df['navigation_system'].value_counts())
(
    df
    .navigation_system
    .isna().sum()
)

# no action req.

navigation_system
yes    25743
Name: count, dtype: int64

28474

#### 37. remote_start

In [509]:
print(df['remote_start'].value_counts())
(
    df
    .remote_start
    .isna()
    .sum()
)
# no cleaning action req.

remote_start
yes    28720
Name: count, dtype: int64

25497

#### 38. power_liftgate

In [510]:
print(df['power_liftgate'].value_counts())
(
    df
    .power_liftgate
    .isna()
    .sum()
)
# no cleaning action req.

power_liftgate
yes    15914
Name: count, dtype: int64

38303

#### 39. automatic_parking

In [511]:
print(df['automatic_parking'].value_counts())
(
    df
    .automatic_parking
    .isna()
    .sum()
)
# no cleaning action req.

automatic_parking
yes    883
Name: count, dtype: int64

53334

#### 40. power_folding_mirror

In [512]:
print(df['power_folding_mirror'].value_counts())
(
    df
    .power_folding_mirror
    .isna()
    .sum()
)
# no cleaning action req.

power_folding_mirror
yes    2836
Name: count, dtype: int64

51381

#### 41. wheel_chair_accessible

In [513]:
print(df['wheel_chair_accessible'].value_counts())
(
    df
    .wheel_chair_accessible
    .isna()
    .sum()
)
# no cleaning action req.

wheel_chair_accessible
yes    11
Name: count, dtype: int64

54206

#### 42. autopilot

In [514]:
print(df['autopilot'].value_counts())
(
    df
    .autopilot
    .isna()
    .sum()
)
# no cleaning action req.

autopilot
yes    111
Name: count, dtype: int64

54106

#### 43. android_auto

In [515]:
print(df['android_auto'].value_counts())
(
    df
    .android_auto
    .isna()
    .sum()
)
# no cleaning action req.

android_auto
yes    25526
Name: count, dtype: int64

28691

In [516]:
def checking_for_null_and_value_counts(col):
    """
    just a utility function, to avoid repetative coding
    """
    print('Null count -> \n',col.isna().sum(),'\n')
    print('Value count -> \n',col.value_counts())

#### 44. apple_carplay

In [517]:
checking_for_null_and_value_counts(df['apple_carplay'])
# no action req.

Null count ->
 17810

Value count ->
 apple_carplay
yes    36407
Name: count, dtype: int64

#### 45. bluetooth

In [518]:
checking_for_null_and_value_counts(df['bluetooth'])

Null count ->
 4059

Value count ->
 bluetooth
yes    50158
Name: count, dtype: int64

#### 46. premium_sound_system

In [519]:
checking_for_null_and_value_counts(df['premium_sound_system'])

Null count ->
 36112

Value count ->
 premium_sound_system
yes    18105
Name: count, dtype: int64

#### 47. usb_port

In [520]:
checking_for_null_and_value_counts(df['usb_port'])
# no more cleaning action req.

Null count ->
 12436

Value count ->
 usb_port
yes    41781
Name: count, dtype: int64

#### 48. wifi_hotspot

In [521]:
checking_for_null_and_value_counts(df['wifi_hotspot'])

Null count ->
 24252

Value count ->
 wifi_hotspot
yes    29965
Name: count, dtype: int64

#### 49. satellite_radio

In [522]:
checking_for_null_and_value_counts(df['satellite_radio'])

Null count ->
 31340

Value count ->
 satellite_radio
yes    22877
Name: count, dtype: int64

#### 50. cd_player

In [523]:
checking_for_null_and_value_counts(df['cd_player'])

Null count ->
 46412

Value count ->
 cd_player
yes    7805
Name: count, dtype: int64

#### 51. homelink

In [524]:
checking_for_null_and_value_counts(df['homelink'])

Null count ->
 39906

Value count ->
 homelink
yes    14311
Name: count, dtype: int64

#### 52. rear_seat_entertainment

In [525]:
checking_for_null_and_value_counts(df['rear_seat_entertainment'])

Null count ->
 53288

Value count ->
 rear_seat_entertainment
yes    929
Name: count, dtype: int64

#### 53. dvd_player

In [526]:
checking_for_null_and_value_counts(df['dvd_player'])

Null count ->
 53022

Value count ->
 dvd_player
yes    1195
Name: count, dtype: int64

#### 54. alloy_wheels

In [527]:
checking_for_null_and_value_counts(df['alloy_wheels'])

Null count ->
 7575

Value count ->
 alloy_wheels
yes    46642
Name: count, dtype: int64

#### 55. sunroof_moonroof

In [528]:
checking_for_null_and_value_counts(df['sunroof_moonroof'])

Null count ->
 31812

Value count ->
 sunroof_moonroof
yes    22405
Name: count, dtype: int64

#### 56. tow_hitch

In [529]:
checking_for_null_and_value_counts(df['tow_hitch'])

Null count ->
 36748

Value count ->
 tow_hitch
yes    17469
Name: count, dtype: int64

#### 57. tow_hooks

In [530]:
checking_for_null_and_value_counts(df['tow_hooks'])

Null count ->
 42088

Value count ->
 tow_hooks
yes    12129
Name: count, dtype: int64

#### 58. roof_rack

In [531]:
checking_for_null_and_value_counts(df['roof_rack'])

Null count ->
 47851

Value count ->
 roof_rack
yes    6366
Name: count, dtype: int64

#### 59. automatic_emergency_braking

In [532]:
checking_for_null_and_value_counts(df['automatic_emergency_braking'])

Null count ->
 15795

Value count ->
 automatic_emergency_braking
yes    38422
Name: count, dtype: int64

#### 60. backup_camera

In [533]:
checking_for_null_and_value_counts(df['backup_camera'])

Null count ->
 5219

Value count ->
 backup_camera
yes    48998
Name: count, dtype: int64

#### 61. blind_spot_monitor

In [534]:
checking_for_null_and_value_counts(df['blind_spot_monitor'])

Null count ->
 25500

Value count ->
 blind_spot_monitor
yes    28717
Name: count, dtype: int64

#### 62. brake_assist

In [535]:
checking_for_null_and_value_counts(df['brake_assist'])

Null count ->
 3766

Value count ->
 brake_assist
yes    50451
Name: count, dtype: int64

#### 63. led_headlights

In [536]:
checking_for_null_and_value_counts(df['led_headlights'])

Null count ->
 28477

Value count ->
 led_headlights
yes    25740
Name: count, dtype: int64

#### 64. lane departure warning

In [537]:
checking_for_null_and_value_counts(df['lane_departure_warning'])

Null count ->
 19907

Value count ->
 lane_departure_warning
yes    34310
Name: count, dtype: int64

#### 65. rear_cross traffic alert

In [538]:
checking_for_null_and_value_counts(df['rear_cross_traffic_alert'])

Null count ->
 30315

Value count ->
 rear_cross_traffic_alert
yes    23902
Name: count, dtype: int64

 #### 66. stablility_control

In [539]:
checking_for_null_and_value_counts(df['stability_control'])

Null count ->
 2821

Value count ->
 stability_control
yes    51396
Name: count, dtype: int64

#### 67. rain_sensing_wipers

In [540]:
checking_for_null_and_value_counts(df['rain_sensing_wipers'])

Null count ->
 42551

Value count ->
 rain_sensing_wipers
yes    11666
Name: count, dtype: int64

#### 68. leather_seats

In [541]:
checking_for_null_and_value_counts(df['leather_seats'])

Null count ->
 31620

Value count ->
 leather_seats
yes    22597
Name: count, dtype: int64

#### 69. memory_seat

In [542]:
checking_for_null_and_value_counts(df['memory_seat'])

Null count ->
 34821

Value count ->
 memory_seat
yes    19396
Name: count, dtype: int64

#### 70. third_row_seating

In [543]:
checking_for_null_and_value_counts(df['third_row_seating'])

Null count ->
 45864

Value count ->
 third_row_seating
yes    8353
Name: count, dtype: int64

#### 71. mpge_city

In [544]:
checking_for_null_and_value_counts(df['mpge_city'])

Null count ->
 53497

Value count ->
 mpge_city
115    59
131    56
127    54
138    43
104    35
95     31
124    27
120    27
129    27
134    26
128    24
118    23
76     20
140    18
90     17
100    16
106    15
150    14
110    14
92     12
78     12
99     12
121    11
88     11
145    10
123    10
101    10
122     9
105     9
141     7
98      6
97      5
74      5
114     5
94      4
136     4
119     4
108     4
137     3
116     3
107     3
35      2
102     2
111     2
125     2
96      1
73      1
89      1
103     1
91      1
117     1
133     1
Name: count, dtype: int64

#### 72. mpge_hwy

In [545]:
checking_for_null_and_value_counts(df['mpge_hwy'])

Null count ->
 53497

Value count ->
 mpge_hwy
126    61
117    54
106    44
112    42
98     39
116    38
109    34
107    30
89     25
124    24
86     21
93     21
88     20
61     20
114    17
77     17
108    16
99     15
85     15
96     14
90     14
133    14
63     12
110    12
102    11
128    10
81      8
100     8
115     7
127     7
94      6
91      6
66      5
75      5
105     5
123     4
101     4
97      4
92      3
40      2
119     2
60      1
84      1
111     1
122     1
Name: count, dtype: int64

#### 73. battery_range_score_cleaned

In [546]:
checking_for_null_and_value_counts(df['battery_range_score_cleaned'])

Null count ->
 54060

Value count ->
 battery_range_score_cleaned
100    50
104    40
101    27
103    21
105    11
102     8
Name: count, dtype: int64

#### 74. battery_range_score_category

In [547]:
checking_for_null_and_value_counts(df['battery_range_score_category'])

Null count ->
 54060

Value count ->
 battery_range_score_category
Outstanding    157
Name: count, dtype: int64

#### 75. street_address

In [548]:
checking_for_null_and_value_counts(df['street_address'])

print(df['street_address'].sample(10))

Null count ->
 426

Value count ->
 street_address
1237 Central Park Dr    74
4180 Rocky Ford Rd      62
201 W 70th Ave          56
20403 I-45              55
18500 Studebaker Rd.    55
                        ..
2651 Jolly Rd            1
3800 A Kaiser Road       1
556 Post Rd E            1
3405 Lexington Rd        1
962 Wyoming Avenue       1
Name: count, Length: 12262, dtype: int64
20596               10255 US-31
18120           200 Hansen Blvd
33062               11809 US-92
24830       1901 Covington Pike
43681               14897 MO-38
53164      245 Lafayette Street
6370               8427 Lee Hwy
13391    N8890 State Highway 57
7627     7650 Bruton Smith Blvd
13916     2490 Skokie Valley Rd
Name: street_address, dtype: object

#### 76. city

In [549]:
checking_for_null_and_value_counts(df['city'])

print(df['city'].sample(10))

Null count ->
 426

Value count ->
 city
Houston          580
Miami            463
Tampa            357
Jacksonville     336
Columbus         311
                ...
North Logan        1
Pocomoke City      1
Harlingen          1
Murphy             1
Jeff               1
Name: count, Length: 3202, dtype: int64
28900             Jessup
13669        Baton Rouge
18347         Great Neck
29239             Frisco
23929     Pembroke Pines
28582     Cuyahoga Falls
36798        Mooresville
33707              Akron
17824          St Albans
28610         Costa Mesa
Name: city, dtype: object

#### 77. state

In [550]:
checking_for_null_and_value_counts(df['state'])

Null count ->
 426

Value count ->
 state
FL    4966
TX    4740
CA    4208
IL    2718
OH    2648
NY    2010
GA    1857
VA    1831
MI    1739
PA    1666
NJ    1664
NC    1481
IN    1402
MN    1319
WI    1309
AZ    1302
TN    1257
MO    1166
CO    1139
WA    1128
MA    1067
MD     974
AL     805
SC     738
CT     686
OR     658
OK     644
KY     617
IA     604
LA     543
NV     481
UT     479
AR     461
KS     451
NE     419
NH     369
MS     298
ID     266
WV     198
NM     197
VT     165
ND     154
MT     154
ME     141
SD     140
RI     129
HI     122
DE     115
AK     113
WY      53
Name: count, dtype: int64

#### 78. postal_code

In [551]:
checking_for_null_and_value_counts(df['postal_code'])

Null count ->
 426

Value count ->
 postal_code
30096    149
29607    140
33619    136
85297    116
22182    115
        ...
51534      1
18634      1
48820      1
92260      1
18643      1
Name: count, Length: 4968, dtype: int64

#### 79. excepted_range

In [552]:
print(df['excepted_range'].isna().sum())
print(df['excepted_range'].value_counts())

53337
excepted_range
265.5    21
268.5    19
239.0    16
240.0    15
261.5    14
         ..
321.0     1
226.5     1
58.0      1
216.5     1
341.0     1
Name: count, Length: 277, dtype: int64

#### 80. level2_charging

In [553]:
checking_for_null_and_value_counts(df['level2_charging'])

Null count ->
 53427

Value count ->
 level2_charging
10.0    273
7.0     112
8.0      97
11.0     96
9.0      60
12.0     47
6.0      33
14.0     28
15.0     18
4.0      12
19.0      5
13.0      5
4.5       2
10.5      1
3.0       1
Name: count, dtype: int64

#### 81.  21  dc_fast_charging

In [554]:
checking_for_null_and_value_counts(df['dc_fast_charging'])

Null count ->
 53547

Value count ->
 dc_fast_charging
30    331
45     69
60     60
27     41
25     39
36     31
32     29
41     24
44     18
40     16
34      5
42      4
15      2
20      1
Name: count, dtype: int64

#### 82. battery_capacity

In [555]:
checking_for_null_and_value_counts(df['battery_capacity'])

Null count ->
 53874

Value count ->
 battery_capacity
77.0     75
91.0     65
72.0     21
98.0     18
68.0     16
40.0     16
93.0     15
60.0     15
131.0    14
88.0     13
123.0    10
70.0      8
30.0      6
62.0      6
100.0     5
24.0      5
82.0      4
75.0      4
73.0      3
55.0      3
16.0      2
81.0      2
50.0      2
20.0      2
89.0      2
27.0      2
92.5      1
37.0      1
62.5      1
79.5      1
66.0      1
58.0      1
113.0     1
22.0      1
18.0      1
Name: count, dtype: int64

In [556]:
def final_cleaning(df):
    return (
        df
        .assign(
            mileage = lambda df_ : (
                df_
                .mileage
                .str.strip()
                .str.replace(',','')
            ),

            price = lambda df_ : (
                df_
                .price
                .replace('Not Priced',np.nan)
            ),

            Exterior_color = lambda df_ : (
                df_
                .Exterior_color
                .str.lower()
                .apply(extracting_color)
            ),

            Interior_color = lambda df_ : (
                df_
                .Interior_color
                .str.lower()
                .apply(extracting_color)
            ),

            Accidents_or_damage = lambda df_ : (
                df_
                .Accidents_or_damage
                .str.strip()
                .str.lower()
                == 'at least 1 accident or damage reported'
            ),

            Clean_title = lambda df_ : (
                df_[['new_used','Clean_title']]
                .apply(is_clean_title,axis=1)
            ),

            one_owner_vehicle = lambda df_ : (
                df_[['new_used','one_owner_vehicle']]
                .apply(is_one_owner,axis=1)
            ),

            Personal_use_only = lambda df_ : (
                df_[['Personal_use_only','new_used']]
                .apply(is_personal_use_only,axis=1)
            ),

            Open_recall = lambda df_ : (
                df_[['Open_recall','new_used']]
                .apply(has_open_recall,axis=1)
            ),

            seller_name = lambda df_ : (
                df_
                .seller_name
                .str.lower()
                .str.strip()
            ),

            people_count_seller_rating = lambda df_ : (
                df_
                .people_count_seller_rating
                .apply(lambda x : x if x.isnumeric() else np.nan)
            ),

            gear_spec = lambda df_ : (
                df_
                .gear_spec
                .str.lower()
                .apply(gear_spec_extract)
                .str.extract(r'(\d+)')
            ),

            engine_size = lambda df_ : (
                df_
                .engine_size
                .str.lower()
                .str.replace('l','')
                .str.replace('-','')
                .str.strip()
            ),

            cylinder_config = lambda df_ : (
                df_
                .cylinder_config
                .str.strip()
                .str.replace('-','')
                .str.replace(' ','')
            ),

            Fuel_Type = lambda df_ : (
                df_
                .Fuel_Type
                .fillna(df_['Fuel_Type_e'])
            ),

            price_drop = lambda df_ : (
                df_
                .price_drop
                .fillna(0)
            ),

            level2_charging = lambda df_ : (
                df_
                .level2_charging
                .round()
            ),

            
            
        )
        .drop(columns='Fuel_Type_e')

)

data = final_cleaning(df)

### changing data types

In [557]:
cat_cols = ['model_year','Brand_name','new_used','deal_type',
            'Exterior_color','Interior_color','Drivetrain',
            'Fuel_Type','Transmission','one_owner_vehicle',
            'Personal_use_only','Open_recall','gear_spec',
            'engine_size','cylinder_config','valves',
            'battery_range_score_cleaned','battery_range_score_category',
            'state'
            ]

numeric_cols = ['mileage','price','price_drop','MPG',
                'level2_charging','dc_fast_charging',
                'battery_capacity','excepted_range',
                'seller_rating','people_count_seller_rating',
                'car_rating','people_count_car_rating',
                'mpge_city','mpge_hwy','postal_code'
                ]

bool_cols = ['Accidents_or_damage','Clean_title']

bool_cols_sp = ['adaptive_cruise_control','power_folding_mirror',
             'cooled_seats','heated_seats','heated_steering_wheels',
             'keyless_entry','keyless_start','navigation_system',
             'remote_start','power_liftgate','automatic_parking',
             'wheel_chair_accessible','autopilot','android_auto',
             'apple_carplay','bluetooth','premium_sound_system','usb_port',
             'wifi_hotspot','satellite_radio','cd_player','homelink',
             'rear_seat_entertainment', 'dvd_player', 'alloy_wheels',
             'sunroof_moonroof', 'tow_hitch', 'tow_hooks', 'roof_rack',
             'automatic_emergency_braking', 'backup_camera', 'blind_spot_monitor',
             'brake_assist', 'led_headlights', 'lane_departure_warning',
             'rear_cross_traffic_alert', 'stability_control', 'rain_sensing_wipers',
             'leather_seats', 'memory_seat', 'third_row_seating'
             ]
final_df = (
    data
    .assign(
        **{col : data[col].astype('category') for col in cat_cols},
        **{col : pd.to_numeric(data[col]) for col in numeric_cols},
        **{col : data[col].astype(bool) for col in bool_cols},
        **{col : data[col].astype(bool).astype('boolean').replace(False,np.nan) for col in bool_cols_sp}
    )
)

In [558]:
final_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54217 entries, 0 to 54216
Data columns (total 83 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   model_year                    54217 non-null  category
 1   Brand_name                    54217 non-null  category
 2   model_name                    54217 non-null  object
 3   image_list                    53320 non-null  object
 4   new_used                      54217 non-null  category
 5   mileage                       53498 non-null  float64
 6   price                         53638 non-null  float64
 7   price_drop                    54217 non-null  int64
 8   deal_type                     32589 non-null  category
 9   Exterior_color                53344 non-null  category
 10  Interior_color                51289 non-null  category
 11  Drivetrain                    53384 non-null  category
 12  MPG                           54217 non-null  float64
 13  Fuel_Type                     53215 non-null  category
 14  Transmission                  50905 non-null  category
 15  Accidents_or_damage           54217 non-null  bool
 16  Clean_title                   54217 non-null  bool
 17  one_owner_vehicle             53818 non-null  category
 18  Personal_use_only             54013 non-null  category
 19  Open_recall                   26041 non-null  category
 20  level2_charging               790 non-null    float64
 21  dc_fast_charging              670 non-null    float64
 22  battery_capacity              343 non-null    float64
 23  excepted_range                880 non-null    float64
 24  seller_name                   53799 non-null  object
 25  seller_rating                 54217 non-null  float64
 26  people_count_seller_rating    53381 non-null  float64
 27  seller_site                   52695 non-null  object
 28  car_rating                    43923 non-null  float64
 29  people_count_car_rating       43923 non-null  float64
 30  gear_spec                     19348 non-null  category
 31  engine_size                   51465 non-null  category
 32  cylinder_config               50622 non-null  category
 33  valves                        16043 non-null  category
 34  adaptive_cruise_control       25869 non-null  boolean
 35  cooled_seats                  7140 non-null   boolean
 36  heated_seats                  30918 non-null  boolean
 37  heated_steering_wheels        19262 non-null  boolean
 38  keyless_entry                 47229 non-null  boolean
 39  keyless_start                 37261 non-null  boolean
 40  navigation_system             25743 non-null  boolean
 41  remote_start                  28720 non-null  boolean
 42  power_liftgate                15914 non-null  boolean
 43  automatic_parking             883 non-null    boolean
 44  power_folding_mirror          2836 non-null   boolean
 45  wheel_chair_accessible        11 non-null     boolean
 46  autopilot                     111 non-null    boolean
 47  android_auto                  25526 non-null  boolean
 48  apple_carplay                 36407 non-null  boolean
 49  bluetooth                     50158 non-null  boolean
 50  premium_sound_system          18105 non-null  boolean
 51  usb_port                      41781 non-null  boolean
 52  wifi_hotspot                  29965 non-null  boolean
 53  satellite_radio               22877 non-null  boolean
 54  cd_player                     7805 non-null   boolean
 55  homelink                      14311 non-null  boolean
 56  rear_seat_entertainment       929 non-null    boolean
 57  dvd_player                    1195 non-null   boolean
 58  alloy_wheels                  46642 non-null  boolean
 59  sunroof_moonroof              22405 non-null  boolean
 60  tow_hitch                     17469 non-null  boolean
 61  tow_hooks                     12129 non-null  boolean
 62  roof_rack                     6366 non-null   boolean
 63  automatic_emergency_braking   38422 non-null  boolean
 64  backup_camera                 48998 non-null  boolean
 65  blind_spot_monitor            28717 non-null  boolean
 66  brake_assist                  50451 non-null  boolean
 67  led_headlights                25740 non-null  boolean
 68  lane_departure_warning        34310 non-null  boolean
 69  rear_cross_traffic_alert      23902 non-null  boolean
 70  stability_control             51396 non-null  boolean
 71  rain_sensing_wipers           11666 non-null  boolean
 72  leather_seats                 22597 non-null  boolean
 73  memory_seat                   19396 non-null  boolean
 74  third_row_seating             8353 non-null   boolean
 75  mpge_city                     720 non-null    float64
 76  mpge_hwy                      720 non-null    float64
 77  battery_range_score_cleaned   157 non-null    category
 78  battery_range_score_category  157 non-null    category
 79  street_address                53791 non-null  object
 80  city                          53791 non-null  object
 81  state                         53791 non-null  category
 82  postal_code                   53791 non-null  float64
dtypes: bool(2), boolean(41), category(19), float64(14), int64(1), object(6)
memory usage: 250.7 MB

In [ ]:
# after cleaning steps are done and now I will move to EDA, 
# as Data cleaning is iterative process, if I see any descriptency or any data cleaning related task during EDA
# I will come back to this level-1,level-2,level-3 cleaning files and do changes accordingly

In [559]:
final_df.to_parquet('POST_CLEANING_3_DATA_PART_5.parquet',engine='fastparquet')